@use "../abstract/" as *;
@use "../base/" as *;

.theme {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  @include small {
    width: 100%;
    padding-top: 2rem;
    justify-content: space-between;
    border-top: 2px solid var(--grayish-text);
  }
}

.theme__btn {
  position: relative;
  width: 5.5rem;
  background-color: var(--toggle);
  background-image: var(--toggle);
  border-radius: 100rem;
  padding: 0.35rem;
  cursor: pointer;

  transition: all 400ms ease;

  &:hover {
    background-image: linear-gradient(
      to right,
      hsl(210, 78%, 56%),
      hsl(146, 68%, 55%)
    );
    background-position: right;
    background-size: 100%;
  }

  .toggler {
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    background-color: var(--pattern);
    transform: translateX(130%);
  }
}
