@use "../abstract/" as *;

%cards {
  position: relative;
  background-color: var(--card-background);
  border-radius: 0.65rem;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 400ms ease;

  &:hover {
    background-color: var(--card-hover);
  }
}

.card {
  @extend %cards;
  text-align: center;
  border-radius: 0.65rem;
  padding-block: 3.7rem 2.5rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 0.4rem;
  }

  .card--facebook::before {
    background-color: $clr-facebook;
  }

  .card--twitter::before {
    background-color: $clr-twitter;
  }

  .card--instagram::before {
    background-image: $clr-instagram;
  }

  .card--youtube::before {
    background-color: $clr-youtube;
  }
}

.user,
.today-stats {
  display: flex;
  align-items: center;
}

.user {
  gap: 1rem;
}

.today-stats {
  gap: 0.3rem;
}

// Today overviws - stats cards
.statistic-card {
  @extend %cards;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 2rem;

  &__top,
  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__top {
    align-items: center;
  }

  &__bottom {
    align-items: flex-end;
  }
}
