@use "../abstract/" as *;

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

.title__main {
  font-size: clamp(2rem, 4.5vw + 0.5rem, 2.5rem);
  line-height: 1.1;
  color: var(--heading);

  @include small {
    padding-bottom: 0.3rem;
  }
}

.title__subtitle,
.theme__name {
  font-size: clamp(1rem, 2vw + 1rem, 1.4rem);
  color: var(--grayish-text);
}

.theme__name {
  font-weight: 700;
}

.user__name,
.activity {
  color: var(--grayish-text);
  font-weight: 700;
  font-size: clamp(0.95rem, 2vw + 1rem, 1.3rem);
}

.info__number {
  color: var(--heading);
  font-weight: 700;
  line-height: 1;
  font-size: clamp(5rem, 6vw + 1rem, 5.5rem);
}

.info__followers {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: clamp(0.95rem, 3vw + 1rem, 1.3rem);
  color: var(--grayish-text);
}

.today-stats__text {
  font-weight: 700;
  font-size: 1.2rem;
}

.today-stats__text--green {
  color: $clr-lime-green;
}

.today-stats__text--red {
  color: $clr-bright-red;
}

// Overview - today stats
.secondary-title {
  font-size: clamp(2rem, 4vw + 1rem, 2.35rem);
  color: var(--overview-today);
  padding-block: 3.5rem 2rem;
}

.stats-number {
  color: var(--heading);
  font-weight: 700;
  font-size: clamp(2.8rem, 4vw + 1rem, 3.75rem);
  line-height: 1;
}
