@use "../abstract/" as *;

header {
  width: 100%;
  background-color: var(--pattern);
  padding-block: 4rem 14rem;
}

.main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include small {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}
