@use "../abstract/" as *;

main, body {
  background-color: var(--background);
}

.overview {
  position: relative;
  top: -10.5rem;
}

.overview__top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2.5rem;
}

.statistics {
  @extend .overview__top;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}
